<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--  Hoja de estilos externa -->
    <link href="../assets/css/common.css" rel="stylesheet">
    <link href="../assets/css/forms.css" rel="stylesheet">
    <link href="../assets/css/template.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="../assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="../assets/bootstrap/popper.min.js"></script>
    <script src="../assets/bootstrap/bootstrap.min.js"></script>
    <!-- JavaScript -->
    <script src="../assets/js/scripts.js"></script>
</head>

<body>

    <nav>
        <ul class="navbar-container">
            <div style="display: flex; align-items: center; gap: 20px;">
                <li><a href="index.html">
                        <img src="../assets/images/Logo.svg" alt="Logo"  class="logo">

                    </a></li>
                <li>
                <li><a href="index.html">
                        <img src="../assets/images/Logo-estado.svg" alt="Logo" class="logo-estado">

                    </a></li>
                <li>
            </div>
            <div style="display: flex; align-items: center; gap: 20px;">
                <img src="../assets/images/icono-navbar.svg" alt="Usuario" style="width: 40px;" class="icono-navbar">
                <a href="../emergencias/login.html">
                    <button class="btn-navbar" type="button">
                        Iniciar Sesión
                    </button>
                </a>
            </div>
            </li>
        </ul>
    </nav>
    
    <div class="about-us">
        <div class="contenido-box">
            <p class="text-1">Entradas</p>
            <h1>Avisos legales</h1>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <section class="glosario responsive-column">
            <div class="content-table">
                <h3>Contenido</h3>
                <button class="btn btn-link" type="button">
                    Titular
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Antecedentes
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Misión, visión y objetivo
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Atribuciones
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Marco jurídico
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Organigrama
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Directorio
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Ubicación
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Centros Regionales
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Glosario de términos
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link" type="button">
                    Preguntas frecuentes
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
                <button class="btn btn-link selected" type="button">
                    Contacto
                    <img src="../assets/images/pagination-next-icon.svg" alt="">
                </button>
            </div>
    
            <div class="d-flex flex-column" style="width: 600px;gap: 24px;">
                <div class="text-input-container w-100">
                    <label>Nombre completo *</label>
                    <input type="text" placeholder="Ingresa tu nombre completo" />
                </div>
                <div class="text-input-container w-100">
                    <label>Dirección de correo electrónico *</label>
                    <input type="text" placeholder="Ingresa una dirección de correo válida" />
                </div>
                <div class="text-input-container w-100">
                    <label>Asunto *</label>
                    <input type="text" placeholder="Escribe un asunto para que podamos responder tus dudas" />
                </div>
                <div class="textarea-container w-100">
                    <label class="custom-input-label">Mensaje *</label>
                    <textarea placeholder="Déjanos un mensaje"></textarea>
                    <span class="textarea-count">0/1000</span>
                </div>
                <button class="btn btn-primary" style="max-width: 100px;" type="button">
                    Enviar
                </button>
            </div>
        </section>
    </div>

    <br><br><br>

    <!-- Footer -->
    <section class="footer">

        <div class="footer-left">
            <div class="footer-left-images">
                <img src="../assets/images/Logo.svg" alt="Logo" style="width: 94px; height: 44px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="2" height="46" viewBox="0 0 2 46" fill="none">
                    <path d="M1 1V45.0002" stroke="black" stroke-opacity="0.12" stroke-linecap="round" />
                </svg>
                <img src="../assets/images/Logo-estado.svg" alt="Logo" style="width: 108.789px; height: 44px;">

            </div>

            <div class="footer-left-text">
                <p> Derechos reservados 2024, Gobierno del Estado de México</p>
            </div>

        </div>

        <div class="footer-right">

            <div class="footer-right-item">
                <h3> Conoce el estado</h3>
                <div class="footer-right-item-text">
                    <p> Nuestros Municipios</p>
                    <p> Corredores Turísticos</p>
                    <p> Parques</p>
                    <p> Pueblos Mágicos</p>
                    <p> Visita el Estado</p>
                </div>
            </div>
            <div class="footer-right-item">
                <h3> Trámites y servicios</h3>
                <div class="footer-right-item-text">
                    <p> Ventanilla Electrónica</p>
                    <p> Carpeta Ciudadana</p>
                    <p> Centros de Servicios Administrativos</p>
                    <p> Portal de Servicios</p>
                    <p> Edicto 21/10/2021</p>
                </div>
            </div>
            <div class="footer-right-item">
                <h3>Transparencia</h3>
                <div class="footer-right-item-text">
                    <p> ¿Qué es?</p>
                    <p>Transparencia Fiscal</p>
                    <p> INFOEM</p>
                    <p> Información Pública</p>
                    <p> SAIMEX</p>
                </div>
            </div>
            <div class="footer-right-item">
                <h3> Datos abiertos</h3>
                <div class="footer-right-item-text">
                    <p> Datos abiertos en el Estado</p>
                    <p> Estadísticas</p>
                    <p> Parques</p>
                    <p> Datos abiertos en México</p>
                    <span> Fundación de Datos Abiertos</span>
                </div>
            </div>
        </div>

    </section>

</body>

</html>