@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Book.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

p,
h5 {
    margin-bottom: 0 !important;
}


* {
    font-family: Gotham;
}

a {
    text-decoration: none !important;
}


/* ---- Botones ---- */
.btn-primary {
    background-color: #55212E !important;
    border-color: #55212E !important;
}

.btn-primary:hover {
    background-color: #4D1E2A !important;
    border-color: #4D1E2A !important;
}

.btn-link {
    color: #55212E !important;
    text-decoration: none !important;
}

.btn-outline-primary {
    color: #55212E !important;
    border-color: #55212E !important;
}

.btn-outline-primary:hover {
    background-color: #4D1E2A !important;
    color: white !important;
}

.btn:hover svg path {
    fill: white; 
}

.hide-item {
    display: none !important;
}


/* Side menu dropdown */

.side-menu-dropdown-header h5 {
    color: var(--Body-text-medium, #484848);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 25.2px */
}

.side-menu-dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 8px;

}

.side-menu-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: var(--Spacing-12, 12px) 24px;
    border-bottom: 1px solid var(--Foundation-gray-gray-100, #E6E6E6);
}

.side-menu-content {
    padding: 0px;
}

.side-menu-dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 24px;
    width: 100%;
}


.raimbow-info{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 200px;
}
.opacity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.opacity p {
    color: var(--Body-text-medium, #484848);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 16.8px */
}
