@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Book.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

p,
h5 {
    margin-bottom: 0 !important;
}


* {
    font-family: Gotham;
}

a {
    text-decoration: none !important;
}

/* Borrar, es para representar el mapa */
.main {
    background-image: url('assets/images/Mapa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* ---- Textos ---- */
.card-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

.card-title {
    color: var(--Body-Text-Body-Color, #212529);

    /* body/sm medium 14 */
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
}

.tooltip-title {
    color: var(--Foundation-Grey-grey-500, #1A1A1A);
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.tooltip-text {
    color: var(--Body-Text-Body-Color, #212529);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* ---- Botones ---- */
.btn-primary {
    background-color: #55212E !important;
    border-color: #55212E !important;
}

.btn-primary:hover {
    background-color: #4D1E2A !important;
    border-color: #4D1E2A !important;
}

.btn-link {
    color: #55212E !important;
    text-decoration: none !important;
}

.btn-outline-primary {
    color: #55212E !important;
    border-color: #55212E !important;
}

.btn-outline-primary:hover {
    background-color: #4D1E2A !important;
    color: white !important;
}

.btn:hover svg path {
    fill: white;
}

/* ---- Cards ---- */

.card-text {
    padding: 16px 0;
}

.card {
    z-index: 1000000;
    width: 367px;
}

.card-img-top {
    border-radius: var(--Spacing-8, 8px);
}

@media (max-width: 1280px) {
    .card {
        width: 100%;
    }

    .content {
        padding: 20px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-img-top {
        height: 207px;
        align-self: stretch;
        object-fit: cover;
    }
}



/* ---- Menu  ----*/

.menu-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.menu {
    margin: 0 auto;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid var(--Foundation-Grey-White, #FFF);
    background: white;
    backdrop-filter: blur(50px);
    padding: 16px 24px;
    position: relative;
}

.menu-item {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;

}



.menu-selected svg path {
    fill: #81172C;
}


.menu-collapse {
    border-radius: 4px;
    background: var(--Body-text-white, #E8E8E8);
    display: flex;
    width: 60px;
    height: 20px;
    padding: 2px 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: -10px;
    left: calc(50% - 30px);
}

.hide-item {
    display: none !important;
}

@media (max-width: 1280px) {
    .menu {
        width: 100%;
    }

    .hide-sidebar-container {
        width: 0px !important;
    }

    #side-menu-container {
        display: none;
    }
}


/* ---- Tooltip  ----*/

.tooltip-container {
    background-color: white;
    width: 348px;
    height: fit-content;
    border-radius: 4.8px;
    border: 1px solid var(--Components-Popover-Border, rgba(0, 0, 0, 0.20));
    position: absolute;
    bottom: 120px;
    z-index: 1000;

}

.tooltip-container::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    z-index: 1;

}

.tooltip {
    width: 348px;
}

.tooltip-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--Components-Popover-Border, rgba(0, 0, 0, 0.20));
    padding: var(--Spacing-8, 8px) 16px;

}

.tooltip-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

}

.tooltip-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: var(--Spacing-8, 8px) 16px;

}

.tooltip-content {
    padding: 16px 0;
    padding: 16px;

}


/* ---- Popover  ----*/

.popover-container {
    background-color: white;
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 12px;
    width: 276px;
    border-radius: 4.8px;
    border: 1px solid var(--Components-Popover-Border, rgba(0, 0, 0, 0.20));
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

}


.popover-container::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    z-index: 1;
}

.popover-icon {
    width: 44px;
    height: 44px;
    background-color: #B5203E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-text {
    color: var(--Body-Text-Body-Color, #212529);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.popover-text-span {
    color: var(--Body-text-primary, #55212E);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

/* ----  Zooms/Icons  ----*/

.zoom-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding: 16px;
}

.zoom {
    background: white;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.zoom-1 {
    bottom: 110px;

}

.zoom-2 {
    bottom: 180px;
}

.zoom-0 {
    display: none;
}

.zoom-message {
    right: 70px;
    display: inline-flex;
    align-items: center;
}

.message-icon {
    display: flex;
    padding: 14px 0px;
    align-items: center;
    align-self: stretch;
}

.message-content {
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    background: var(--Foundation-Grey-grey-500, #1A1A1A);
}

.message-content p {
    color: var(--Gray-White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

@media (max-width: 1280px) {

    .zoom-3,
    .zoom-2 {
        display: none;
    }

    .zoom-1 {
        bottom: 90px;
    }

    .zoom-0 {
        bottom: 170px;
        display: flex;
    }

    .zoom-message {
        display: none;
    }
}

/* ---- Options  ----*/

.options-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 16px;
}

.options {
    background: rgba(255, 255, 255, 0.80);
    border-radius: 10px;
    padding: 9px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.options-info {
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    box-shadow: -2px 4px 13.3px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    width: 207px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 75px;
    left: 20px;
    z-index: 1;
}


.options-info-link {
    color: var(--Body-text-medium, #484848);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.options-info-link-help {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Body-text-medium, #484848);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.options-info-separator {
    border-bottom: 1px solid var(--Components-Popover-Border, rgba(0, 0, 0, 0.20));
    width: 100%;
    margin: 8px 0;
}

/* ---- Options help  ----*/

.help-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 16px;
}

.help {
    background: white;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 433px;
    max-height: 437px;
    /* Limita la altura del contenedor */
    overflow-y: auto;/
}

.help-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.help-title h1 {
    color: var(--Body-text-primary, #55212E);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
}

.help-content-item h1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
}

.help-content-item p {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
}

@media (max-width: 1280px) {
    .help {
        width: 90vw;
    }
}

/* ---- Navigation  ----*/

.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
}

.back {
    background: white;
    border-radius: 10px;
    padding: 9px;
    cursor: pointer;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.search {
    margin: 16px 16px 16px 0;
}

.search-input {
    border-radius: 4px;
    border: 1px solid var(--Foundation-Grey-grey-50, #E8E8E8);
    background: var(--Neutral-White, #FFF);
    padding: 12px;
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    padding-right: 60px;
}

input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

.search-input::placeholder {
    color: var(--Body-text-medium-light, #666);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.search-input:focus {
    border: 1px solid var(--Foundation-primary-primary-400, #774D58);
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

}

.search-mobile {
    display: none;
}

.search-result {
    display: none;
    width: 328px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: var(--Spacing-2, 2px);
    background: var(--Neutral-White, #FFF);
    box-shadow: -2px 4px 13.3px 0px rgba(0, 0, 0, 0.20);

    position: fixed;
    top: 70px;
    left: 80px;
    z-index: 1000;
}

.search-result p {
    color: var(--Body-text-medium, #484848);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

@media (max-width: 1280px) {
    .search {
        display: none;
        margin: 10px;
    }

    .navigation-container {
        justify-content: space-between;
        width: 100%;
    }

    .search-mobile {
        display: flex;
    }
    
    .search-result {
        left: 0;
        margin: 10px;
        width: 100%;
    }

}


/* ---- Side Menu  ----*/

.side-menu-container {
    /* position: fixed;
    top: 0;
    right: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.side-menu {
    display: flex;
    gap: 16px;
    background-color: white;
    height: 100vh;
    width: 350px;
    flex-direction: column;

}

.side-menu-header {
    display: flex;
    gap: 16px;
}

.side-menu-header-title-text {
    color: var(--Foundation-Grey-White, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.side-menu-header-title {
    background: var(--Foundation-primary-primary-500, #55212E);
    padding: var(--Spacing-12, 12px) 24px;
    height: fit-content;
    width: 350px;

}

.side-menu-content {
    padding: 0px var(--Spacing-16, 16px);
    display: flex;
    padding: 0px var(--Spacing-16, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.side-menu-item {
    border-bottom: 1px solid var(--Foundation-primary-primary-50, #EEE9EA);
    background: #FAFAFC;
    display: flex;
    padding: var(--Spacing-8, 8px) 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.side-menu-item-title {
    display: flex;
    padding: 4px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.side-menu-item-title-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.side-menu-item-title-icon-right {
    border-radius: 3.2px;
    border: 1px solid var(--Foundation-primary-primary-500, #55212E);
    background: var(--Foundation-primary-primary-500, #55212E);
    display: flex;
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.side-menu-item-title-icon h5 {
    color: var(--Body-Text-Body-Color, #212529);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.side-menu-item-content-text {
    color: var(--Body-text-medium, #484848);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.rainbow-slider {
    border-radius: 20px;
    background: linear-gradient(90deg, #F70202 0%, #FA6508 33.33%, #FFE313 66.67%, #41EB32 100%);
    height: 8.148px;
    align-self: stretch;
    width: 100%;
}

.side-menu-item-content {
    width: 100%;

}


.sidemenu-collapse {
    border-radius: 4px;
    background: var(--Body-text-white, #E8E8E8);
    cursor: pointer;
    display: flex;
    width: 103px;
    height: 20px;
    transform: rotate(-90deg);
    padding: 2px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: -50px;
}


.hide-sidebar {
    display: none !important;
    visibility: hidden !important;
}

.hide-sidebar-container {
    width: 10px !important;
}