@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    height: 100vh;
    min-height: 767px;
}

p,
h5 {
    margin-bottom: 0 !important;
}

* {
    font-family: Gotham !important;
}

a {
    text-decoration: none !important;
}

/* ---- Botones ---- */
.btn-primary {
    background-color: #55212E !important;
    border-color: #55212E !important;
}

.btn-primary:hover {
    background-color: #4D1E2A !important;
    border-color: #4D1E2A !important;
}

.btn-link {
    color: #55212E !important;
    text-decoration: none !important;
}

.btn-outline-primary {
    color: #55212E !important;
    border-color: #55212E !important;
}

.btn-outline-primary:hover {
    background-color: #4D1E2A !important;
    color: white !important;
}

.btn:hover svg path {
    fill: white; 
}

.hide-item {
    display: none !important;
}

.opacity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.opacity p {
    color: var(--Body-text-medium, #484848);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 16.8px */
}

.rotate-image {
    transform: rotate(180deg);
}

.mobile-icon-close {
    display: none;
}

@media (max-width: 1024px) {
    .mobile-icon-close {
        display: flex;
    }
}