html, body {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    min-width: 1024px !important;
    min-height: 768px !important;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background: #55212E;
}

.side-bar {
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
}

.content {
    display: flex;
    width: 100%;
    background-color: #FFF !important;
}

.main-logo {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 54px;
    background-image: url('../images/logo-gobierno-estado-mexico.svg');
    margin-bottom: 24px;
}

.vertical-navbar,
.user-menu,
.content
 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.vertical-navbar {
    color: #FFF;
}

button.btn-navbar {
    display: flex !important;
    white-space: nowrap !important;
    color: #FFF !important;
    text-decoration: none !important;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding: 8px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-align: start;
}

button.btn-navbar.selected {
    font-weight: 500 !important;
}

/* Icons */
.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.user-icon {
    width: 18px;
    height: 18px;
    background-image: url('../images/user-icon.svg');
}

.exit-icon {
    width: 20px;
    height: 20px;
    background-image: url('../images/exit-icon.svg');
}

.profile-icon {
    width: 24px;
    height: 24px;
    background-image: url('../images/profile-icon.svg');
}

.content .section-header {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid #E8E8E8;
}

.content .section-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 24px 16px;
    padding-bottom: 0;
    gap: 24px;
}

.table-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.table-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px;
    border-top: 1px solid #E8E8E8;
    gap: 56px;
}

.table-pagination .current-page {
    display: flex;
    align-items: center;
    gap: 12px;
}

.table-pagination button {
    padding: 5px !important;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
}

.row-controls button {
    padding: 0px !important;
}

.table-controls .btn-sm {
    max-height: 30px !important;
    box-sizing: border-box !important;
    line-height: 100% !important;
}

.table > thead > tr > th {
    background-color: #E6E6E6;
}

th, td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    vertical-align: middle;
}

.search-input-container.small {
    max-height: 30px !important;
    box-sizing: border-box !important;
}

.search-input-container.small input {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 5px !important;
    min-height: 20px !important;
    box-sizing: border-box !important;
}

.search-input-container.small img {
    bottom: 6px !important;
    width: 18px !important;
    height: 18px !important;
}