/* ---- Navbar ---- */
ul.navbar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0 !important;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  background: var(--Foundation-Grey-White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(155, 173, 211, 0.64);
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.btn-navbar {
  padding: 4px 8px !important;
  border-radius: 3.2px;
  border: 1px solid var(--Foundation-Danger-danger-700, #81172c);
  background: var(--Foundation-Danger-danger-700, #81172c);
  color: var(--Gray-White, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
}

.logo {
  width: 82px;
  height: 38px;
}

.logo-estado {
  width: 88.046px;
  height: 35.61px;
}

@media (max-width: 767px) {
  .navbar-container {
    padding: 0px 20px;
  }

  .navbar-container div {
    gap: 12px !important;
  }

  .logo {
    width: 55px !important;
    height: 26px;
  }

  .logo-estado {
    width: 49.065px !important;
    height: 19.844px;
  }

  .icono-navbar {
    width: 32px !important;
    height: 30px;
  }

  .btn-navbar {
    padding: 4px 8px !important;
    border-radius: 3.2px;
    border: 1px solid var(--Foundation-Danger-danger-700, #81172c);
    background: var(--Foundation-Danger-danger-700, #81172c);
    color: var(--Gray-White, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
  }
}

.faqs-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid rgba(30, 30, 30, 0.12);
}

.faq-item-text p {
  color: var(--Body-text-strong, #000);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 16.8px */
}

.faq-item-text {
  display: flex;
  padding: 8px 8px 12px 8px;
  align-items: flex-start;
  align-self: stretch;
}

.faq-item-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 8px 0;
}

.faq-item-question p {
  color: var(--Body-text-secondary, #956036);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

/* ----Footer ---- */
.footer {
  display: flex;
  padding: 56px 80px;
  align-items: flex-start;
  gap: 56px;
  align-self: stretch;
  background: linear-gradient(183deg, #fff 69.42%, #911214 261.18%);
}

.footer-left {
  display: flex;
  width: 258px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.footer-left-images {
  display: flex;
  align-items: flex-start;
  gap: 21px;
}

.footer-left-text {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.footer-left-text p {
  color: var(--Body-text-medium-light, #666);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 16.8px */
}

.footer-right-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}

.footer-right-item h3 {
  color: var(--Body-text-primary, #55212e);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  line-height: 140%;
}

.footer-right-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.footer-right-item-text p {
  display: flex;
  width: 174px;
  height: 20px;
}

.footer-right-item-text p,
span {
  flex-direction: column;
  justify-content: center;
  color: var(--Foundation-Grey-grey-300, #666);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 56px 50px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 56px 20px;
  }

  .footer-right {
    flex-direction: column;
  }

  .footer-left-text p {
    margin-top: 24px;
  }
}

.aviso-legal {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #484848;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.aviso-legal-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  text-align: justify;
  max-width: 1200px;
}

.aviso-legal .text-1 {
  color: #666;
  font-family: Gotham;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.aviso-legal h1 {
  color: #55212e;
  font-family: Gotham;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.aviso-legal h3 {
  font-size: 16px;
  font-weight: 700;
}
